.tile {
  width: 100px;
  height: 100px;


  &.tile_clicked--cross {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 75px;
      top: 12.5px;
      left: 42.5px;
      transform: rotate(45deg);
      background-color: black;
    }

    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 75px;
      top: 12.5px;
      right: 42.5px;
      transform: rotate(-45deg);
      background-color: black;
    }
  }

  &.tile_clicked--circle {
    position: relative;

    &::before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 75px;
      height: 75px;
      top: 12.5px;
      left: 12.5px;
      border: solid 15px black;
      border-radius: 50%;
    }
  }
}